<a href="https://colab.research.google.com/github/MariamChowdhury/MachineLearning/blob/main/AlgorithmsAndClassifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

# Multivarient linear regression

In [26]:
pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [27]:
from word2number import w2n

In [28]:
print(w2n.word_to_num('two point three'))

2.3

In [30]:
df=pd.read_csv('/content/hiring.csv')

In [31]:
df

  experience  score  int score  salary
0        NaN    8.0          9   50000
1        NaN    8.0          6   45000
2       five    6.0          7   60000
3        two   10.0         10   65000
4      seven    9.0          6   70000
5      three    7.0         10   62000
6        ten    NaN          7   72000
7     eleven    7.0          8   80000

In [32]:
df.score.median()

8.0

In [41]:
df.score = df.score.fillna(df.score.mean())

In [42]:
df

   experience  score  int score  salary
0           0    8.0          9   50000
1           0    8.0          6   45000
2           5    6.0          7   60000
3           2   10.0         10   65000
4           7    9.0          6   70000
5           3    7.0         10   62000
6          10    8.0          7   72000
7          11    7.0          8   80000

In [35]:
df.experience = df.experience.fillna("zero")

In [43]:
df

   experience  score  int score  salary
0           0    8.0          9   50000
1           0    8.0          6   45000
2           5    6.0          7   60000
3           2   10.0         10   65000
4           7    9.0          6   70000
5           3    7.0         10   62000
6          10    8.0          7   72000
7          11    7.0          8   80000

In [37]:
df.experience = df.experience.apply(w2n.word_to_num)

In [44]:
df

   experience  score  int score  salary
0           0    8.0          9   50000
1           0    8.0          6   45000
2           5    6.0          7   60000
3           2   10.0         10   65000
4           7    9.0          6   70000
5           3    7.0         10   62000
6          10    8.0          7   72000
7          11    7.0          8   80000

In [46]:
X = df[['experience', 'score', 'int score']]
y = df['salary']
reg = LinearRegression().fit(X, y)

In [47]:
reg.predict([[2, 9, 6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53205.96797671])

In [48]:
reg.predict([[12, 10, 10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([92002.18340611])