<a href="https://colab.research.google.com/github/MariamChowdhury/MachineLearning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Dataframes

In [2]:
df=pd.DataFrame(np.arange(0,20).reshape(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
#data= np.arange(0,20).reshape(4,5)
#index= index=['r1','r2','r3','r4']
#columns= columns=['c1','c2','c3','c4','c5']

In [3]:
df

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [4]:
df.head()

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [5]:
df2=pd.DataFrame(np.arange(0,30).reshape(6,5),index=['r1','r2','r3','r4','r5','r6'],columns=['c1','c2','c3','c4','c5'])

In [6]:
df2

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24
r6  25  26  27  28  29

In [7]:
df2.head()

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [8]:
df.to_csv('test.csv')

In [9]:
# 1row or column= data series, more than 1 =data frames
df.loc['r1']

c1    0
c2    1
c3    2
c4    3
c5    4
Name: r1, dtype: int64

In [10]:
type(df.loc['r1'])

pandas.core.series.Series

In [11]:
df.iloc[:,:]

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [12]:
df.iloc[0:3,2:4]

    c3  c4
r1   2   3
r2   7   8
r3  12  13

In [13]:
df.iloc[:,:].values #converting dataframe to array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [14]:
df.iloc[:,:].values.shape

(4, 5)

In [15]:
#checking if theres any null value (imp) 
df.isnull()

       c1     c2     c3     c4     c5
r1  False  False  False  False  False
r2  False  False  False  False  False
r3  False  False  False  False  False
r4  False  False  False  False  False

In [16]:
df.isnull().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
dtype: int64

In [17]:
df['c1'].value_counts()

0     1
5     1
10    1
15    1
Name: c1, dtype: int64

In [18]:
df['c1'].unique()

array([ 0,  5, 10, 15])

# Read CSV files

In [19]:
# dataset from https://www.kaggle.com/datasets/yogeerp/mercedes?resource=download
df=pd.read_csv('/content/mercedesbenz.csv')

FileNotFoundError: ignored

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

# Create CSV file

In [20]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')
type(data)

str

In [21]:
from io import StringIO, BytesIO

In [22]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [23]:
# read data from specific columns
df=pd.read_csv(StringIO(data), usecols=['col3','col1'])

In [24]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [25]:
data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [26]:
df=pd.read_csv(StringIO(data),dtype=object)

In [27]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [28]:
df['b'][1]

'6'

In [30]:
# giving diff data type to diff columns
df=pd.read_csv(StringIO(data),dtype={'b':int,'c':np.float64,'a':'Int64'})

In [31]:
df

   a   b     c    d
0  1   2   3.0  4.0
1  5   6   7.0  8.0
2  9  10  11.0  NaN

In [33]:
df.dtypes #all data types

a      Int64
b      int64
c    float64
d    float64
dtype: object

In [36]:
df=pd.read_csv(StringIO(data),index_col=2)

In [37]:
df

    a   b    d
c
3   1   2  4.0
7   5   6  8.0
11  9  10  NaN

# JSON to CSV

In [38]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

In [39]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560