<a href="https://colab.research.google.com/github/MariamChowdhury/MachineLearning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

# Dataframes

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(4,5),index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4','c5'])
#data= np.arange(0,20).reshape(4,5)
#index= index=['r1','r2','r3','r4']
#columns= columns=['c1','c2','c3','c4','c5']

In [7]:
df

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [8]:
df.head()

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [9]:
df2=pd.DataFrame(np.arange(0,30).reshape(6,5),index=['r1','r2','r3','r4','r5','r6'],columns=['c1','c2','c3','c4','c5'])

In [10]:
df2

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24
r6  25  26  27  28  29

In [11]:
df2.head()

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [12]:
df.to_csv('test.csv')

In [13]:
# 1row or column= data series, more than 1 =data frames
df.loc['r1']

c1    0
c2    1
c3    2
c4    3
c5    4
Name: r1, dtype: int64

In [14]:
type(df.loc['r1'])

pandas.core.series.Series

In [17]:
df.iloc[:,:]

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [19]:
df.iloc[0:3,2:4]

    c3  c4
r1   2   3
r2   7   8
r3  12  13

In [20]:
df.iloc[:,:].values #converting dataframe to array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [21]:
df.iloc[:,:].values.shape

(4, 5)

In [22]:
#checking if theres any null value (imp) 
df.isnull()

       c1     c2     c3     c4     c5
r1  False  False  False  False  False
r2  False  False  False  False  False
r3  False  False  False  False  False
r4  False  False  False  False  False

In [25]:
df.isnull().sum()

c1    0
c2    0
c3    0
c4    0
c5    0
dtype: int64

In [28]:
df['c1'].value_counts()

0     1
5     1
10    1
15    1
Name: c1, dtype: int64

In [29]:
df['c1'].unique()

array([ 0,  5, 10, 15])